*, *before, *after {
  box-sizing: border-box;
}

.headlings h2 {
  font-family: "rubik";
  color:#905108;
  text-align: center; 
}

hr {
  width: 30%;
  color:#905108;
  margin-bottom: 6%;
}

input[type=text] {
  background-color: #f4bc6c;
  color: black;
  font-family: "rubik";
  font-size: 1.1rem;
  width: 50%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #905108;
}

input[type=text]:focus {
  outline: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs .petName {
  margin-top: 4%;
  margin-bottom: 6%;
}

.dogsize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dogsize label {
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
  margin-bottom: 3%;
}

.dogsize select {
  background-color: #f4bc6c;
  color: black;
  font-family: "rubik";
  font-size: 1.1rem;
  width: 58%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #905108;
  margin-bottom: 6%;
  cursor: pointer;
}

.bathtype {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bathtype span {
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
  margin-bottom: 3%;
}

.bathform {
  margin-bottom: 5%;
}

.bathform label {
  font-family: "rubik";
  margin-left: 1rem;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}


input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: .3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: .1rem;
  color:#905108;
}

input[type="radio"]:checked + *::before {
  background: radial-gradient(#905108, #905108, transparent 50%, transparent);
  border-color: #905108;
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkboxform {
  margin-bottom: 5%;
  display: flex;
}

.extras span {
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
  margin-bottom: 3%;
}

.extras label {
  font-family: "rubik";
  margin-right: 1rem; 
}

.extras input[type="checkbox"] {
  display: none;
}

.extras input[type="checkbox"] + label{
  cursor: pointer;
}

.extras input[type="checkbox"] + label:before{
  cursor: pointer;
  content: "";
  width: 1rem;
  height: 1rem;
  border: .10rem solid #905108;
  border-radius: 3px;
  float: left;
  margin-right: .5rem;
}

.extras input[type="checkbox"]:checked + label:before {
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-weight: 900;
  font-size: 1rem;
  color:#905108;
}

.comments {
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
  margin-bottom: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments .question {
  margin-left: 5%;
  margin-right: 5%;
}

.comments textarea {
  margin-top: 5%;
  margin-bottom: 6%;
  background-color: #f4bc6c;
  color: black;
  font-family: "rubik";
  font-size: 1.1rem;
  width: 60%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #905108;
}

.comments textarea:focus {
  outline:none;
}

.calendarcontainer {
  text-align: center;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarcontainer span {

  margin-bottom: 5%;
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
}

.calendarcontainer hr {
  margin-top: 4%;
  margin-bottom: 2%;
}

.react-date-picker {
  display: inline-flex;
  position: relative;
  margin-bottom: 6%;
  font-family: "rubik";
  font-size: 1.3rem;
  width: 50%;
  background-color: #f4bc6c;
  box-shadow: 0 0 5px 2px #905108;
  border-radius: 15px;
  outline: none;
}
  
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
  
.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  
}
  
.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}
  
.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
  
.react-date-picker__inputGroup__divider,
.react-date-picker__inputGroup__leadingZero {
  display: inline-block;
}
  
.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
  
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
  
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
  
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
  
.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
  
.react-date-picker__button:enabled {
  cursor: pointer;
}
  
.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}
  
.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}
  
.react-date-picker__button svg {
  display: inherit;
}
  
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 1;
}
  
.react-date-picker__calendar--closed {
  display: none;
}
  
.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.hourcontainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hourcontainer  label {
  margin-bottom: 5%;
  font-family: "rubik";
  font-size: 1.4rem;
  color:#905108;
}

.hourcontainer select {
  background-color: #f4bc6c;
  color: black;
  font-family: "rubik";
  font-size: 1.1rem;
  width: 30%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #905108;
  margin-bottom: 6%;
  cursor: pointer;
}

.send {
  text-align: center;
  margin-bottom: 6%;
}

.send button {
  width: 50%;
  font-family: "rubik";
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #f4bc6c;
  color:#905108;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #905108;
}
