.header {
  display: flex;
  margin-top: .5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #905108;
}

.header .navigator {
  display: flex;
  font-size: 1rem;
  list-style: none;
  gap: 3%;
  font-family: 'rubik';
  font-size: .9rem;
  font-weight: bold;
  color: #905108;
  cursor: pointer;
  padding-right: 7%;
}

.header .navigator p:hover {
  text-decoration: underline;
}
